/.gitignore
/prot/Content/Bunker
/prot/Content/StarterContent
/prot/Saved
/prot/Intermediate/CachedAssetRegistry.bin
/prot/Content/level/TanakaLevel_BuiltData.uasset
/prot/Content/level/*.uasset
/prot/Intermediate/ReimportCache/3688439234.bin
/prot/Content/Mannequin
/prot/Content/ThirdPersonBP
/prot/Content/ThirdPerson
/prot/Content/Resorce
